{% extends "user/base.html" %}

{% block page_style %}

<style>



    /* request form */
.req_form {
font-family: 'Open Sans', Arial, sans-serif;
position: relative;
float: left;
overflow: hidden;
/* padding: 30px; */
/* margin: 10px 1%; */
min-height: 260px;
min-width: 130px;
/* max-width: 240px; */
width: 100%;
color: #ffffff;
text-align: center;
line-height: 1.4em;
background-color: rgba(255, 255, 255, 0);
}
.req_form * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;
}
.req_form .background {
width: 100%;
vertical-align: top;
opacity: 0.2;
-webkit-filter: grayscale(100%) blur(10px);
filter: grayscale(100%) blur(10px);
-webkit-transition: all 2s ease;
transition: all 2s ease;
}
.req_form figcaption {
width: 100%;
padding: 15px 25px;
position: absolute;
left: 0;
top: 50%;
}
.req_form .profile {
border-radius: 50%;
position: absolute;
bottom: 50%;
left: 50%;
max-width: 100px;
opacity: 1;
/* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); */
/* border: 2px solid rgba(255, 255, 255, 0.5); */
-webkit-transform: translate(-50%, 0%);
transform: translate(-50%, 0%);
}
.req_form h3 {
margin: 0 0 5px;
font-size: 12px;
font-weight: 100;
color: gray;
}
.req_form h3 span {
/* display: block; */
font-size: 1.2em;
color: #ff5a5f;
opacity: 0.75;
white-space: nowrap;
}
.req_form i {
padding: 10px 5px;
display: inline-block;
font-size: 32px;
color: #ffffff;
text-align: center;
opacity: 0.65;
}
.req_form a {
text-decoration: none;
}
.req_form i:hover {
opacity: 1;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.req_form:hover .background,
.req_form.hover .background {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}


/* comment */

.pop-window {
width: 500px;
z-index: 2999;
background: #fff;
margin: 0 auto;
border: 2px solid #cdcdcd;
padding: 20px;
position: fixed;
top: 30%;
left: 33%;
}

.container {
margin: 0 auto;
}

.overlay {
z-index: 1999;
background: rgba(0, 0, 0, 0.7);
height: 100%;
width: 100%;
top: 0px;
left: 0px;
position: fixed;
}

.close {
position: absolute;
right: 15px;
top: 10px;
color: #000;
cursor: pointer;
}



/* Input Styles */

.form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover{
    border:1px solid #8BC3A3;
}

.form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
}

.textarea{
    height: 200px;
    max-height: 180px;
    max-width: 93%;
}

/* Generic Button Styles */

.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
    background:#8BC3A3;
    color:white;
}

/* Send Button Styles */

.form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
    background:#111;
    color: white;
    border:none;
}

.form-btn:active{
    opacity: 0.9;
}
center{
margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}


/* title */

.group a {
    color: rgb(72, 72, 72);
}

.group a:hover {
    color: #ff5a5f;
    text-decoration: none;
}

.group a:before {
    content: '';
    border-bottom: solid 1px #5CAAEF;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    
    opacity: 0;
}

.container {
    width: ;
}


</style>

{% endblock %}

{% block body_contents %}



<div class="container col-lg-19">

    {% for entry in requests %}

    <div class="col-xs-3 col-lg-3">
        <figure class="req_form"><img src="media/{{ entry.poster.avatar }}" class="profile" />
            {% if user.is_authenticated %}
            <a style="position: relative; right: -65px; top: 10px;"><i class="fa fa-comment" style="color:gray;"
                    onclick="addComment('{{ entry.id }}');"></i></a>
            {% endif %}

            <figcaption>
                <h3><span style="font-size: 16px;">{{ entry.poster.username }}, 
                    {% if entry.poster.gender == 'M' %}
                    Male
                    {% elif entry.poster.gender == 'F' %}
                    Female
                    {% else %}
                    Unknow
                    {% endif %}
                    </span></h3>
                <h3>Rent Budget: <span>${{ entry.budget }}/Day</span></h3>
                <h3>Preferred City: <span>{{ entry.prefer_city }}</span></h3>
                <h3>Move Day: <span>{{ entry.move_day }}</span></h3>
            </figcaption>
        </figure>
    </div>
    {% endfor %}

</div>


<div class="pop-window" style="display: none;">
    <div class="inner">
        <div class="contact-form">
                <!-- Right Inputs -->
                <div class="col-xs-12 wow animated slideInRight" data-wow-delay=".5s">
                    <!-- Message -->
                    <textarea name="message" id="message" class="form textarea" placeholder="Leave a message..." style="min-width: 100%;"></textarea>
                </div><!-- End Right Inputs -->
                <!-- Bottom Submit -->
                <div class="relative fullwidth col-xs-12">
                    <!-- Send Button -->
                    <button onclick="send_to();" class="form-btn semibold">Send</button>
                </div><!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
        </div><!-- End Contact Form Area -->
    </div>
    <!-- <div class="close">x</div> -->
</div>

<br>


{% endblock %}

{% block scripts %}

<script>

    var uid = -1;
    var $overlay = $('<div class="overlay"></div>');
    var $popup = $('.pop-window');

    // $('<div class="close">x</div>').appendTo($popup);
    // $popup.hide();

    function addComment(id) {
        $overlay.fadeIn(800).appendTo('body');
        $popup.delay(800).slideDown();
        uid = id;
    };

    $overlay.click(function () {
        $overlay.delay(800).fadeOut();
        $popup.slideUp();
    });

    $('.close').click(function () {
        $popup.slideUp();
        $overlay.delay(800).fadeOut();
    });

    function send_to() {
        var content = $('#message').val();
        $.post("{% url 'send_to' %}", 
        {
            receiver: uid,
            msg: content
        },function(data, status) {
            if(data == '1') {
                $('#message').val('');
                alert("send succeed!");
                $overlay.delay(800).fadeOut();
                $popup.slideUp();
            } else {
                alert('send failed');
            }
        });
    }      

</script>

{% endblock %}